<ol>
    <li class="slide-wrapper">
        <img class="photo" src="https://picsum.photos/400/300/?random" />
        <div class="content">
            <h2>Here is a title</h2>

            <p>This is some mighty long text, it might have something to do with this picture, or it might not, I don't know, whatever it is it is long enough eh?</p>
            <a href="#">Permalink</a>
        </div>
        </div>
    </li>


    <li class="slide-wrapper">
        <img class="photo" src="https://picsum.photos/500/200/?random" />
        <div class="content">
            <h2>This is another title but longer than the first title, probably long enough to wrap</h2>

            <p>I suppose the content here could be <b>anything</b>, even nested maybe?</p>
            <a href="#">Permalink</a>
        </div>
        </div>
    </li>
</ol>

<p>
    <button>Change images</button>
</p>
