<div id="experience">
    <h2 class="heading">Career</h2>
    <div id="experience-timeline">
        <div data-date="2021.06 ~ 현재">
            <h3>엠에스엠(MSM)</h3>
            <h4>풀스택 개발자</h4>
            <ul>
                <li>커플 앱 하트널(Heartnal) 개발 (Flutter, Spring Boot, MyBatis, MySQL, Docker, AWS EC2, AWS RDS, Firebase, Node.js)</li>
                <li>현장 노가다 커뮤니티 및 공수 달력 앱 노가리 개발 (Flutter, Spring Boot, MyBatis, MySQL, Docker, AWS EC2, AWS RDS, Firebase)</li>
            </ul>
        </div>
        <div data-date="2019.10 ~ 2021.05">
            <h3>(주)케이넷</h3>
            <h4>개발자 전향</h4>
            <ul>
                <li>사업자범용 공인인증서 사이트(https://www.kosignbiz.com) 반응형 웹 리뉴얼 작업(HTML, CSS, JavaScript, PHP)</li>
                <li>전자세금계산서 발행 사이트 바로빌 문자 서비스 개발 (Spring Boot, MyBatis, Spring Batch, MSSQL)</li>
                <li>전자세금계산서 발행 사이트 바로빌 개발자센터(https://dev.barobill.co.kr) 반응형 웹 리뉴얼 작업 (Vue.js, Nuxt.js)</li>
            </ul>
        </div>
        <div data-date="2017.03 ~ 2019.09">
            <h3>(주)케이넷</h3>
            <h4>운영 및 기획</h4>
            <ul>
                <li>전자세금계산서 발행 사이트 바로빌 운영 및 기획 업무 담당</li>
            </ul>
        </div>
        <div data-date="2011.03 ~ 2017.02">
            <h3>호남대학교</h3>
            <h4>한약재산업학과</h4>
            <ul>
                <li>졸업</li>
            </ul>
        </div>
    </div>
</div>
