<div id="experience">
    <h2 class="heading">Career</h2>
    <div id="experience-timeline">
        <div data-date="2025.07 ~ 현재">
            <h3>브랜드스퀘어</h3>
            <h4>풀스택 개발자</h4>
            <ul>
                <li>홈페이지 개발 (Nuxt.js)</li>
                <li>사내 어드민 사이트 개발 (Nuxt.js + Spring Boot + MySQL)</li>
                <li>네이버 블로그 자동 발행 프로그램 개발 (Chat GPT, Claude API + Electron.js + Vue)</li>
            </ul>
        </div>
        <div data-date="2025.03 ~ 2025.06">
            <h3>프리랜서</h3>
            <h4>풀스택 개발자</h4>
            <ul>
                <li>홈페이지 및 어드민 개발 (Nuxt.js + Spring Boot or Nest.js + docker)</li>
                <li>Chat GPT API 를 통한 네이버 블로그 원고 자동 생성 프로그램 개발 (Electron.js + Vue)</li>
                <li>이미지 파일 메타값 변환 프로그램 개발 (Electron.js + Vue)</li>
                <li>기존 개발사와 계약이 끝난 업체들의 홈페이지 유지보수</li>
            </ul>
        </div>
        <div data-date="2024.06 ~ 2025.02">
            <h3>주식회사 피플랩</h3>
            <h4>풀스택 개발자</h4>
            <ul>
                <li>사내 어드민 사이트 개발 (Nuxt.js + Spring Boot + AWS EC2, RDS)</li>
                <li>홈페이지 개발 (Nuxt.js)</li>
                <li>영업 콜 DB 수집을 위한 네이버,다음 지도페이지 전화번호 자동 수집 웹 크롤링 프로그램 개발 (Python)</li>
                <li>카카오톡 이미지 자동 전송 프로그램 개발 (Python)</li>
                <li>기타 사내 업무 자동화 관련 백오피스 프로그램 개발 (Python, Electron.js)</li>
                <li>콜백 문자 서비스 모바일 앱 개발 (Flutter Method channel + Nest.js, 경영 악화로 인한 중단)</li>
            </ul>
        </div>
        <div data-date="2021.06 ~ 2024.04">
            <h3>엠에스엠(MSM)</h3>
            <h4>풀스택 개발자</h4>
            <ul>
                <li>커플 앱 하트널(Heartnal) 개발 (Flutter, Spring Boot, MyBatis, MySQL, Docker, AWS EC2, AWS RDS, Firebase, Node.js)</li>
                <li>현장 노가다 커뮤니티 및 공수 달력 앱 노가리 개발 (Flutter, Spring Boot, MyBatis, MySQL, Docker, AWS EC2, AWS RDS, Firebase)</li>
            </ul>
        </div>
        <div data-date="2019.10 ~ 2021.05">
            <h3>(주)케이넷</h3>
            <h4>개발자 전향</h4>
            <ul>
                <li>사업자범용 공인인증서 사이트(https://www.kosignbiz.com) 반응형 웹 리뉴얼 작업(HTML, CSS, JavaScript, PHP)</li>
                <li>전자세금계산서 발행 사이트 바로빌 문자 서비스 개발 (Spring Boot, MyBatis, Spring Batch, MSSQL)</li>
                <li>전자세금계산서 발행 사이트 바로빌 개발자센터(https://dev.barobill.co.kr) 반응형 웹 리뉴얼 작업 (Vue.js, Nuxt.js)</li>
            </ul>
        </div>
        <div data-date="2017.03 ~ 2019.09">
            <h3>(주)케이넷</h3>
            <h4>운영 및 기획</h4>
            <ul>
                <li>전자세금계산서 발행 사이트 바로빌 운영 및 기획 업무 담당</li>
            </ul>
        </div>
        <div data-date="2011.03 ~ 2017.02">
            <h3>호남대학교</h3>
            <h4>한약재산업학과</h4>
            <ul>
                <li>졸업</li>
            </ul>
        </div>
    </div>
</div>
