<div class="contact-container background-alt">
    <div class="container">
        <h2 class="heading">Contact Me</h2>
        <div class="contact-info">
            <ul>
                <li>Phone : 010 - 2785 - 1159</li>
                <li>Email : daehee1159@gmail.com</li>
                <li>GitLab : <a href="https://gitlab.com/daehee1159" target="_blank" >깃랩 바로가기</a></li>
                <li>Blog : <a href="https://day0404.tistory.com/" target="_blank">블로그 바로가기</a></li>
            </ul>
        </div>
    </div>
</div>
