<div>
    <div id="particles-js">
        <div class="header">
            <h1>
                <span class="site-title">하트널</span>
            </h1>
        </div>
    </div>
    <div class="slider-container">
        <div class="slider">
            <img src="/assets/images/heartnal_screen_01.png" alt="Heartnal Screen Image">
            <img src="/assets/images/heartnal_screen_02.png" alt="Heartnal Screen Image">
            <img src="/assets/images/heartnal_screen_03.png" alt="Heartnal Screen Image">
            <img src="/assets/images/heartnal_screen_04.png" alt="Heartnal Screen Image">
            <img src="/assets/images/heartnal_screen_05.png" alt="Heartnal Screen Image">
            <img src="/assets/images/heartnal_screen_06.png" alt="Heartnal Screen Image">
            <img src="/assets/images/heartnal_screen_07.png" alt="Heartnal Screen Image">
            <img src="/assets/images/heartnal_screen_08.png" alt="Heartnal Screen Image">
        </div>
        <button class="prev-btn">Previous</button>
        <button class="next-btn">Next</button>
    </div>
    <main>
        <section class="ingredients">
            <h2>앱 소개 (현재 운영X)</h2>
            <ul>
                <li>오늘 뭐먹지? 오늘 뭐하지? 등 커플들이 데이트할 때 항상 하는 고민을 해결해주는데 도움이 되는 Flutter 기반 모바일 앱입니다.</li>
                <li>서로의 선택을 통해 결정을 도와주는 오늘 뭐먹지? 오늘 뭐하지? 기능</li>
                <li>하루에 한번 서로에게 메시지를 전달하는 오늘의 한마디 기능</li>
                <li>커플 연동 캘린더, 연인에게 공유 가능한 여성 생리주기 캘린더 기능</li>
                <li>커플 연동 다이어리, D-Day 기능</li>
            </ul>
        </section>
        <section class="ingredients">
            <h2>진행했던 업무</h2>
            <ul>
                <li>전체적인 앱 기획 및 디자인</li>
                <li>백엔드 API 서버, DB 설계, 배포 환경 개발</li>
                <li>프론트엔드 모바일 앱 개발</li>
            </ul>
        </section>
        <section class="instructions">
            <h2>기술 스택</h2>
            <ul>
                <li>Spring Boot MyBatis를 활용한 백엔드 API 서버, Firebase를 활용한 이미지 서버 개발</li>
                <li>MySQL DB 설계</li>
                <li>AWS EC2, RDS를 통한 배포 환경 개발</li>
                <li>소셜 로그인 기능(Kakao, Apple), 앱 배너,전면광고(Google) 등 Third-party API 활용</li>
                <li>Flutter를 통한 모바일 앱 개발 및 Provider 패턴을 활용한 상태 관리</li>
                <li>Node.js를 활용한 스케줄러 개발</li>
            </ul>
        </section>
        <section class="instructions">
            <h2>개발 후기</h2>
            <p>
                창업 후 첫 프로젝트였고 모바일 앱 개발 또한 처음이었기에 많은 시행착오를 겪었었습니다.
                시행착오로 인해 더 많은 경험을 해볼 수 있는 계기가 되었고 Provider 패턴을 사용하여 상태관리를 진행할 수 있었습니다.
                처음부터 끝까지 전부 작업을 해보면서 개발에서뿐 아니라 다른 포지션의 역할들의 중요성도 몸소 느낄 수 있었습니다.
                전반적으로 많은 새로운 언어,프레임워크,툴 등을 사용해보고 익히는 모든 것들이 개발적으로나 비개발적으로나 경험치를 쌓을 수 있는 좋은 경험이었습니다.
            </p>
        </section>
    </main>
</div>
