<div>
    <div id="particles-js">
        <div class="header">
            <h1>
                <span class="site-title">노가리</span>
            </h1>
        </div>
    </div>
    <div id="slider-container-nogari" class="slider-container">
        <div class="slider">
            <img src="/assets/images/nogari_screen_01.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_02.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_03.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_04.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_05.png" alt="Nogari Screen Image">
        </div>
        <button class="prev-btn">Previous</button>
        <button class="next-btn">Next</button>
    </div>

    <main>
<!--        <section class="introduction">-->
<!--            <p>현장 노가다를 하시는 분들을 위한 공수 계산 달력 및 커뮤니티 기능을 포함한 Flutter 기반의 모바일 앱입니다.</p>-->
<!--            <p>Android, iOS 모두 지원하는 앱이 부족한 점, 특히 iOS에는 공수 계산 앱이 부족한 점을 확인하여 제작한 앱입니다.</p>-->
<!--            <p>커뮤니티 기능, 업체 리뷰, 공수 계산 달력, 공학용 계산기 기능을 포함하고 있습니다.</p>-->
<!--        </section>-->
        <section class="ingredients">
            <h2>앱 소개</h2>
            <ul>
                <li>현장 노가다를 하시는 분들을 위한 공수 계산 달력 및 커뮤니티 기능을 포함한 Flutter 기반의 모바일 앱입니다.</li>
                <li>Android, iOS 모두 지원하는 앱이 부족한 점, 특히 iOS에는 공수 계산 앱이 부족한 점을 확인하여 제작한 앱입니다.</li>
                <li>커뮤니티 기능, 업체 리뷰, 공수 계산 달력, 공학용 계산기 기능을 포함하고 있습니다.</li>
            </ul>
        </section>
        <section class="ingredients">
            <h2>진행했던 업무</h2>
            <ul>
                <li>전체적인 앱 기획 및 디자인</li>
                <li>백엔드 API 서버, DB 설계, 배포 환경 개발</li>
                <li>프론트엔드 모바일 앱 개발</li>
            </ul>
        </section>
        <section class="instructions">
            <h2>기술 스택</h2>
            <ul>
                <li>Spring Boot MyBatis를 활용한 백엔드 API 서버, Firebase를 활용한 이미지 서버 개발</li>
                <li>MySQL DB 설계</li>
                <li>AWS EC2, RDS를 통한 배포 환경 개발</li>
                <li>소셜 로그인 기능(Kakao, Apple), 뉴스 기사(Naver), 앱 배너, 전면광고(Google) 등 Third-party API 활용</li>
                <li>Flutter를 통한 모바일 앱 개발 및 Provider 패턴을 활용한 상태 관리</li>
            </ul>
        </section>
        <section class="instructions">
            <h2>개발 후기</h2>
            <p>
                창업 후 두번째 프로젝트였던 만큼 이전에 익혔던 Flutter의 개발 능력이 향상되고, 백엔드의 경우 이전 프로젝트와 기본 틀이 비슷하여 더욱 빠른 개발 진행을 할 수 있었습니다.
                이전 프로젝트보다 Flutter의 Widget별로 나누는 작업을 좀 더 진행하였으며, 각 레이어를 구분하여 목적에 맞게 만드는 코드를 작성하도록 노력했습니다.
                Flutter 버전 업그레이드로 인하여 여러 패키지를 활용한 코드들의 마이그레이션도 진행해 볼 수 있었습니다.
                이전 프로젝트와 달리 게시판 기능이 있어 NoSQL DB를 활용해볼까 생각은 했지만 직접 사용하진 않았던 점이 아쉬웠습니다.
            </p>
        </section>
    </main>
</div>
