<div>
    <div id="particles-js">
        <div class="header">
            <h1>
                <span class="site-title">노가리</span>
            </h1>
        </div>
    </div>
    <div id="slider-container-nogari" class="slider-container">
        <div class="slider">
            <img src="/assets/images/nogari_screen_01.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_02.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_03.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_04.png" alt="Nogari Screen Image">
            <img src="/assets/images/nogari_screen_05.png" alt="Nogari Screen Image">
            <!-- Add more images here -->
        </div>
        <button class="prev-btn">Previous</button>
        <button class="next-btn">Next</button>
    </div>

    <main>
        <section class="introduction">
            <p>노가리에 대한 간단한 소개</p>
        </section>
        <section class="ingredients">
            <h2>진행했던 업무</h2>
            <ul>
                <li>1/2 cup sugar</li>
                <li>2 tsp ground cinnamon</li>
                <li>6 medium-sized apples, peeled and sliced</li>
                <!-- More ingredients -->
            </ul>
        </section>
        <section class="instructions">
            <h2>주요 기능</h2>
            <ul>
                <li>Preheat oven to 375°F (190°C).</li>
                <li>In a bowl, mix the sugar and cinnamon.</li>
                <li>Toss the apples in the sugar-cinnamon mixture.</li>
                <li>깃허브 주소</li>
                <!-- More instructions -->
            </ul>
        </section>
        <section class="instructions">
            <h2>하트널을 통한 기술 스택</h2>
            <ul>
                <li>Preheat oven to 375°F (190°C).</li>
                <li>In a bowl, mix the sugar and cinnamon.</li>
                <li>Toss the apples in the sugar-cinnamon mixture.</li>
                <li>깃허브 주소</li>
                <!-- More instructions -->
            </ul>
        </section>
    </main>
</div>
