<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="/assets/images/nogari_icon.png" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>노가리</h3>
                    <ul>
                        <li><b>현장 노가다를 하시는 분들을 위한 공수 계산 달력 및 커뮤니티 기능을 포함한 Flutter 기반의 모바일 앱입니다.</b></li>
                        <li>시중에는 커뮤니티 기능까지 포함한 공수 달력 및 계산기 앱이 거의 없었고 특히 Android, iOS 모두 지원하는 앱이 부족한 점을 Flutter로 해결할 수 있었습니다.</li>
                        <li>창업 후 두번째 프로젝트인 만큼 이전보다 이해도와 숙련도가 높아져 더 빠른 개발을 진행할 수 있었습니다.</li>
                    </ul>
                    <a href="/nogari/">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->

            <div class="project shadow-large">
                <div class="project-image">
                    <img src="/assets/images/heartnal_icon.png" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>하트널</h3>
                    <ul>
                        <li><b>오늘 뭐먹지?, 오늘 뭐하지? 항상 고민인 커플들을 위한 Flutter 기반의 모바일 앱입니다.</b></li>
                        <li>언어, 프레임워크, 모바일 앱 개발 모두 처음인 상황에서 만든 창업 후 첫 프로젝트입니다.</li>
                        <li>모든것이 첫 경험이었던 만큼 많은 것을 배울 수 있었고 Flutter에 대한 이해도와 숙련도를 높이는데 많은 도움이 되었습니다.</li>
                    </ul>
                    <a href="/heartnal/">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
        </div>
    </div>
</div>
