<div class="skill-container">
    <div class="container">
        <h2 class="heading">My Skills</h2>
        <div class="group">
            <h3>Frontend</h3>
            <div class="skills">
                <div class="skill">
                    <img src="/assets/images/skills/html.png" alt="HTML">
                    <!--                <p>HTML</p>-->
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/css.png" alt="CSS">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/js.png" alt="JavaScript">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/flutter.png" alt="Flutter">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/dart.png" alt="Dart">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/vue.png" alt="Vue">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/nuxt.png" alt="Nuxt.js">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/bootstrap.png" alt="Bootstrap">
                </div>
                <!-- Add more frontend skills here -->
            </div>
        </div>
        <div class="group">
            <h3>Backend</h3>
            <div class="skills">
                <div class="skill">
                    <img src="/assets/images/skills/java.png" alt="Java">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/springboot.png" alt="SpringBoot">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/firebase.png" alt="Firebase">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/nodejs.png" alt="Node.js">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/nest.png" alt="Nest.js">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/python.jpg" alt="Python">
                </div>
                <!-- Add more backend skills here -->
            </div>
        </div>
        <div class="group">
            <h3>DB</h3>
            <div class="skills">
                <div class="skill">
                    <img src="/assets/images/skills/mysql.png" alt="MySQL">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/mssql.png" alt="MSSQL">
                </div>
                <!-- Add more backend skills here -->
            </div>
        </div>
        <div class="group">
            <h3>Deployment</h3>
            <div class="skills">
                <div class="skill">
                    <img src="/assets/images/skills/docker.png" alt="Docker">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/aws.png" alt="AWS">
                </div>
                <!-- Add more backend skills here -->
            </div>
        </div>
        <div class="group">
            <h3>Collaboration tools</h3>
            <div class="skills">
                <div class="skill">
                    <img src="/assets/images/skills/gitlab.png" alt="GitLab">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/github.png" alt="GitHub">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/jira.png" alt="Jira">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/confluence.png" alt="Confluence">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/intellij.png" alt="IntelliJ">
                </div>
                <div class="skill">
                    <img src="/assets/images/skills/vscode.png" alt="VSCode">
                </div>
                <!-- Add more backend skills here -->
            </div>
        </div>
    </div>
</div>
